{% extends "index.html.twig" %}

{% block content %}
    <h1>Register</h1>
    {% for error in sql_errors %}
        <div class="row">
            {{ error['error'] }}
        </div>
    {% endfor %}

    <form method="post">
        <div class="row">
            <label for="login">Login</label>
            <input id="login" name="login" type="text">
        </div>
        <div class="row">
            <label for="password">Password</label>
            <input name="password" id="password" type="password">
        </div>
        <div class="row">
            <input class="button-primary" type="submit" value="Register">
        </div>
</form>

    <div class="row">
        <a href="/signIn" class="button">sign In</a>
    </div>

{% endblock %}