{% extends "index.html.twig" %}

{% block topMenu %}
    {% include 'top_menu.html.twig' with {'activePage': 'register'} %}
{% endblock %}

{% block content %}
    <h1>Register</h1>

    <form class="ui form" method="post">
        <div class="required field">
            <label>Login</label>
            <input type="text" name="login" placeholder="Username">
        </div>
        <div class="required field">
            <label>Password</label>
            <input type="password" name="password" placeholder="Password">
        </div>
        <button class="ui button" type="submit">Register</button>
    </form>

{% endblock %}