{% extends "index.html.twig" %}

{% block content %}
    <form>
        <div class="row">
            <label for="login">Login</label>
            <input id="login" type="text">
        </div>
        <div class="row">
            <label for="password">Password</label>
            <input id="password" type="password">
        </div>
        <div class="row">
            <input class="button-primary" type="submit" value="Sign In">
        </div>
    </form>

{% endblock %}