{% extends "index.html.twig" %}

{% block topMenu %}
    {% include 'top_menu.html.twig' with {'activePage': 'editProfile'} %}
{% endblock %}

{% block content %}
    {% if userInfo %}
        <div class="ui grid">
            <div class="eight wide column"><h3>First name</h3></div>
            <div class="eight wide column">{{ userInfo.getFirstName() }}</div>

            <div class="eight wide column"><h3>Second name</h3></div>
            <div class="eight wide column">{{ userInfo.getSecondName() }}</div>

            <div class="eight wide column"><h3>Workplace</h3></div>
            <div class="eight wide column">{{ userInfo.getWorkplace() }}</div>

            <div class="eight wide column"><h3>Biography</h3></div>
            <div class="eight wide column">{{ userInfo.getBiography() }}</div>

            <a href="/edit" class="ui secondary button">
                Edit profile
            </a>
        </div>

    {% else %}
        No such user
    {% endif %}
{% endblock %}